<% include ./partials/header %>
    <br><br>
      <div class="ui container">
        <div class="ui raised segment">
          <div class="ui stackable grid">
            <div class="row">
              <div class="three wide column">
              </div>
              <div class="four wide column">
                <img class="ui  large circular image" src="/images/jp5.5.2.jpg">
              </div>
              <div class="nine wide column">
                  <br><br><br>
                    <h1 style="font-size:60px;line-height: 20px">
                      Jalak Patoliya
                      <h1 style="font-weight: normal;">
                        Full Stack Developer</h1>
                    </h1>



              </div>
            </div>

            <div class="ui horizontal divider"></div>

            <div class="row">
              <div class="two wide column"></div>
              <div class="three wide column">
                <a href="/about_me">
                    <img id="a"class="ui  medium circular image" src="/images/about.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                    <br> <span style="color:black;font-style: normal;font-size:20px">&nbsp; &ensp; &emsp;About Me</span>
                </a>
              </div>
              <div class="three wide column">
                <a href="/resume">
                  <img id="b" class="ui  medium circular image" src="/images/resume.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                  <br> <span style="color:black;font-style: normal;font-size:20px">&nbsp;&nbsp; &ensp; &emsp;Resume</span>
                </a>
              </div>
              <div class="three wide column">
                <a href="https://github.com/jalakpatoliya">
                  <img id="c" class="ui  medium circular image" src="/images/github.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                  <br> <span style="color:black;font-style: normal;font-size:20px">&nbsp;&nbsp;&nbsp; &ensp; &emsp;GitHub</span>
                </a>
              </div>
              <div class="three wide column">
                <a href="mailto:jalakpatoliya777@gmail.com">
                    <img id="d" class="ui  medium circular image" src="/images/contact.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                    <br> <span style="color:black;font-style: normal;font-size:20px">&emsp; &ensp; &emsp;Contact</span>
                </a>
              </div>
              <div class="one wide column"></div>
            </div>
            <br><br>
          </div>



        </div>
      </div>

      <script type="text/javascript">
          function hover(element) {
            if (element.id=='a') {
              element.setAttribute('src', '/svg/about.gif');
            } else if(element.id=='b') {
              element.setAttribute('src', '/svg/resume.gif');
            } else if(element.id=='c') {
              element.setAttribute('src', '/svg/github.gif');
            } else if(element.id=='d') {
              element.setAttribute('src', '/svg/contact.gif');
            }
          }

          function unhover(element) {
            if (element.id=='a') {
              element.setAttribute('src', '/images/about.png');
            } else if(element.id=='b') {
              element.setAttribute('src', '/images/resume.png');
            } else if(element.id=='c') {
              element.setAttribute('src', '/images/github.png');
            } else if(element.id=='d') {
              element.setAttribute('src', '/images/contact.png');
            }
          }
      </script>

<% include ./partials/footer %>
