<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <style media="screen">
    div.relative {
        position: relative;
        left: 250px;
    }

    </style>
  </head>
  <body>
    <br>
      <div class="ui container">
        <div class="ui raised segment">
          <div class="ui grid">
            <div class="row">
              <div class="three wide column">
              </div>
              <div class="three wide column">
                <img class="ui  large circular image" src="https://jaydp.com/img/dp_1.jpg">
              </div>
              <div class="four wide column">
                  <pre>
                    <h1 style="font-size:60px;line-height: 20px">

Jalak Patoliya <h1 style="font-weight: normal;">Full Stack Developer</h1>

                    </h1>

                  </pre>

              </div>
            </div>

            <div class="ui horizontal divider"></div>

            <div class="row">
              <div class="two wide column"></div>
              <div class="three wide column">
                <a href="#">
                  <img id="a"class="ui  medium circular image" src="/images/about.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                </a>
              </div>
              <div class="three wide column">
                <a href="#">
                  <img id="b" class="ui  medium circular image" src="/images/resume.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                </a>
              </div>
              <div class="three wide column">
                <a href="#">
                  <img id="c" class="ui  medium circular image" src="/images/github.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                </a>
              </div>
              <div class="three wide column">
                <a href="#">
                  <img id="d" class="ui  medium circular image" src="/images/contact.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                </a>
              </div>
              <div class="one wide column"></div>
            </div>

          </div>



        </div>
      </div>

      <script type="text/javascript">
          function hover(element) {
            if (element.id=='a') {
              element.setAttribute('src', '/svg/about.gif');
            } else if(element.id=='b') {
              element.setAttribute('src', '/svg/resume.gif');
            } else if(element.id=='c') {
              element.setAttribute('src', '/svg/github.gif');
            } else if(element.id=='d') {
              element.setAttribute('src', '/svg/contact.gif');
            }
          }

          function unhover(element) {
            if (element.id=='a') {
              element.setAttribute('src', '/images/about.png');
            } else if(element.id=='b') {
              element.setAttribute('src', '/images/resume.png');
            } else if(element.id=='c') {
              element.setAttribute('src', '/images/github.png');
            } else if(element.id=='d') {
              element.setAttribute('src', '/images/contact.png');
            }
          }
      </script>
  </body>
</html>
